// Fonts

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

$font1:  'IBM Plex Sans', sans-serif;

// Colors

$orca: #001D30;
$betta: #8B3CE6;
$albatross: #FFFFFF;
$barracuda: #CFD4D9;

// Breakpoints

$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';